* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* Sezione header - topbar */


nav {
    display: inline-block;
}

nav > ul {
    line-height: 70px;
}

nav > ul > li {
    display: inline-block;
    padding: 0 20px;
    vertical-align: middle;
}

nav li a {
    text-decoration: none;
    color: black;
}

nav ul li:nth-child(3) {
    padding-right: 820px;
}

nav ul li:nth-child(7) {
    padding-right: 0;
}

nav ul li:nth-child(7) a {
    padding: 5px 15px;
    color: white;
    background-color: blue;
}

           /* Sezione principale  */

/* Sezione principale - JUMBOTRON */

.jumbtron-l-r-content {
    width: 100%;
}

.jumbotron-left,
.jumbotron-right {
    width: 50%;
}
.jumbotron-right {
    margin-top: 80px;
}

.jumbotron-right img {
    width: 100%;
}

.fa-arrow-down {
    width: 100%;
}

/* -------------DA QUI IN POI SOLO ID------------- */


/* Sezione header - topbar  */

#topbar {
    width: 100%;
    height: 70px;
    padding: 0 15px;
}

#logo {
    display: inline-block;
    height: 100%;
}

#logo img {
    vertical-align: middle;
}

/* Sezione JUMBOTRON */

#jumbotron {
    width: 100%;
    height: 600px;
    background-color: rgb(135, 201, 221);
    padding: 60px 150px;
}

#jumbotron h1 {
    font-size: 48px;
    text-align: left;
}

#down-arrow-container {
    width: 50px;
    height: 50px;
}

/* -------------SOLO REGOLE GENERALI------------- */

.clearfix {
    content: '';
    display: table;
    clear: both;
}

.fl {
   float: left;
}

.fr {
    float: right;
}