* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* Header - topbar */

nav {
    display: inline-block;
}

nav > ul {
    line-height: 70px;
}

nav > ul > li {
    display: inline-block;
    padding: 0 20px;
    vertical-align: middle;
}

nav li a {
    text-decoration: none;
    color: black;
}

nav ul li:nth-child(3) {
    padding-right: 820px;
}

nav ul li:nth-child(7) {
    padding-right: 0;
}

nav ul li:nth-child(7) a {
    padding: 5px 15px;
    color: white;
    background-color: #2a61ff;
    transition: all 0.3s ease-in-out;
}

nav ul li:nth-child(7) a:hover {
    background-color: orange;
}

/* Header - Jumbotron */

.jumbotron-l-r-content {
    width: 100%;
    height: 600px;
}

.jumbotron-left {
    width: 40%;
}

.jumbotron-right {
    width: 60%;
}

.jumbotron-left {
    padding: 0 180px 0 0;
}

.jumbotron-left .main-button {
    margin: 25px 0 10px;
} 

.jumbotron-left p:nth-of-type(1) {
    line-height: 25px;
    padding: 30px 0 10px 0;
}

.jumbotron-left p:nth-of-type(2) {
    font-size: 15px;
    margin-bottom: 50px;
}

.jumbotron-right {
    margin-top: 30px;
}

.jumbotron-right img {
    width: 100%;
}

.fa-arrow-down {
    font-size: 2.5em;
}

            /* Main  */

/* Main - Opzioni di abbonamento - Professional, Standard, Advanced  */

.centered-container h2 {
    font-size: 2.35em;
    margin-bottom: 50px;
}

.centered-container label {
    padding-right: 20px;
}

.top-billing input[type='radio']:checked::after {
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 50%;
    top: -2px;
    left: -2px;
    position: relative;
    background-color: white;
    display: inline-block;
    visibility: visible;
    border: 4px solid #2a61ff;
}

.top-billing {
    height: 120px;
}

.billing-options {
    width: 100%;
    margin: 35px 0 50px;
}

.billing-option {
    border: 1px solid lightgrey;
}

.billing-option-text {
    padding: 30px 30px 0 30px;
    min-height: 1000px;
}

.billing-option-text h3 {
    padding-bottom: 20px;
}

.billing-option-text > span:nth-of-type(1) {
    font-weight: 700;
    line-height: 30px;
}

.billing-option-text > span:nth-of-type(2) {
    color: rgb(180, 180, 180);
}

.billing-option-text ul:nth-of-type(1) {
    margin-top: 25px;
}

.billing-option-text ul:nth-of-type(2) {
    margin: 60px 0 200px 0;
}

.billing-option-text ul:nth-of-type(2)  li:nth-of-type(1){
    font-weight: 700;
}

.billing-option-text ul li {
    list-style-type: none;
    padding: 10px 0;
    width: 100%;
}

.billing-option-text ul li > span {
    width: 92%;
    padding-left: 5px;
}

.billing-option-text p > a {
    text-decoration: none;
    color: #51a7ee;
}

.billing-option-text .main-button {
    width: 100%;
    margin: 25px 0;
}

.gray-line {
    position: relative;
}

.gray-line::after {
    content: '';
    display: block;
    position: absolute;
    width: 20%;
    top: 50px;
    border: 1px solid #d0d0d3;
}

.billing-options .billing-option:nth-child(1) {
    width: calc(33.3% - 30px);
    margin-right: 30px;
}

.billing-options .billing-option:nth-child(2) {
    width: 33.3%;
}

.billing-options .billing-option:nth-child(3) {
    width: calc(33.3% - 30px);
    margin-left: 30px;
}

.billing-option .billing-icon {
    text-align: center;
    border-bottom: 1px solid #d0d0d3;
    padding: 10px;
}

.billing-option ul .fas.fa-check {
    color: #2a61ff;
}

/* Main - Opzioni di abbonamento - Enterprise */

.enterprise-left h3 {
    font-size: 1.5em;
    padding-bottom: 10px;
}

.enterprise-left p {
    padding: 26px 0 28px;
}

.enterprise-left span {
    font-weight: 600;
}

.enterprise-right {
    width: 25%;
}

.enterprise-right > button {
    width: 100%;
}

/* Main - Sezione partner */

.partner-section .partner-section-left {
    width: 50%;
}

.partner-section .partner-section-left > img {
    width: 100%;
}

.partner-section-right {
    width: 40%;
}

.partner-section .partner-section-right {
    padding: 35px 0 0;
}

.partner-section .partner-section-right h3 {
    font-size: 1.5em;
}

.partner-section .partner-section-right p {
    padding: 25px 0;
    line-height: 27px;
}

.partner-section .partner-section-right button {
    background-color: white;
    color: black;
    border: 1px solid black;
    transition: all 0.3s ease-in-out;
}

.partner-section .partner-section-right button:hover {
    color: white;
    background-color: #2a61ff;
    border: 1px solid #2a61ff;
}

/* Main - Sezione Operazioni Dropbox Business */

.operations {
    width: 100%;
}

.operation {
    min-height: 550px;
}

.operations .operation:nth-child(1),
.operations .operation:nth-child(3),
.operations .operation:nth-child(4),
.operations .operation:nth-child(6) {
    width: calc(33.3% - 50px);
}

.operations .operation:nth-child(2),
.operations .operation:nth-child(5) {
    width: 33.3%;
    margin: 0 50px;
}

.operation-image-container {
    width: 100%;
    text-align: center;
}

.operation-image-container img {
    width: 100%;
}

.operations .operation:nth-child(2) img,
.operations .operation:nth-child(5) img {
    width: 90%;
}

.operation-text {
    text-align: left;
}

.operation h3 {
    font-size: 1.45em;
    margin-bottom: 20px;
}

.operation p {
    line-height: 25px;
}

/* Main - Sezione teams */

.teams-top {
    width: 40%;
}

.teams-top h1 {
    font-size: 2em;
}

.teams-top p {
    padding: 30px 0 50px 0;
}

.teams-top a {
    text-decoration: none;
    color: #51a7ee;
}

/* Sezione teams - Struttura generale e quadratone a sinistra */

.teams-100vw-container {
    width: 100vw;
    height: 850px;
    background-color: #b4d0e7;
    position: relative;
}

.teams-100vw-container .big-square{
    width: 30%;
    height: 500px;
}

.teams-100vw-container .centered.big-square {
    width: 40%;
} 

.teams-image-square {
    width: 50%;
    height: 250px;
    position: relative;
}

.teams-image-square > img {
    width: 50%;
    filter: invert(100%);
}

.teams-image-square.left:nth-of-type(1) {
    background-color: #a2d39b;
}

.teams-image-square.left:nth-of-type(2) {
    background-color: #61082a;
}

.teams-image-square.left:nth-of-type(3) {
    background-color:#3193ce;
}

.teams-image-square.left:nth-of-type(4) {
    background-color:#f51c1f;
}

/* Sezione teams - Quadratone centrale */

.centered {
    background-color: #f5f5f5;
}

.centered .centered-content {
    padding: 50px;
    height: 100%;
    position: relative;
}

.centered .centered-content img {
    width: 25%;
    padding-bottom: 80px;
}

.centered .centered-content p::before {
    content: '';
    display: block;
    position: absolute;
    width: 10%;
    top: 125px;
    border: 1px solid rgb(204, 193, 193);
}

.centered .centered-content p {
    padding-bottom: 50px;
    line-height: 25px;
}

/* Sezione teams - Quadratone a destra */

.teams-image-square.right:nth-of-type(1) {
    background-color: #d5001e;
}

.teams-image-square.right:nth-of-type(2) {
    background-color: #b4d0e7;
}

.teams-image-square.right:nth-of-type(3) {
    background-color:#0e2481;
}

.teams-image-square.right:nth-of-type(4) {
    background-color:#fbd831;
}

/* Sezione teams - bottom */

.teams-bottom div {
    height: 100%;
}

.teams-bottom.centered-container {
    padding-top: 630px;
    height: 100%;
}

.teams-bottom.centered-container h1 {
    font-size: 2em;
    color: maroon;
}

.teams-bottom.centered-container button {
    width: 25%;
    background-color: white;
    color: black;
    border: none;
    transition: all 0.3s ease-in-out;
}

.teams-bottom.centered-container button:hover {
    color: white;
    background-color: #2a61ff;
}

.teams-bottom-left {
    width: 40%;
}

/* Main - Sezione FAQs */

.faqs {
    width: 100%;
    height: 80px;
    border-bottom: 2px solid lightgray;
    position: relative;
}

.faqs h3 {
    padding-bottom: 50px;
    font-size: 1.75em;
}

.faqs h4 {
    padding: 30px 30px 0 0;
}

.faqs .fas.fa-angle-down {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 1.5em;
}

/* Sezione Footer */

.footer-content-container {
    width: 100vw;
    height: 600px;
    background-color: black;
    margin-top: 200px;
    padding: 100px 100px 0;
}

.footer-all-list-container {
    width: 90%;
    margin: 0 auto;
    height: 75%;
    position: relative;
}

.footer-single-list-container {
    width: 20%;
}

.footer-single-list-container h3 {
    color: white;
    font-size: 1.1em;
    padding-bottom: 25px;
}

.footer-single-list-container ul {
    padding: 0px;
}

.footer-single-list-container ul:first-child {
    padding-left: 0;
}

.footer-single-list-container ul li {
    padding: 5px;
    list-style-type: none;
}

.footer-single-list-container ul li > a {
    color: white;
    text-decoration: none;
}

/* Footer - Selezione lingua */

.footer-all-list-container::after {
    content: '';
    display: block;
    position: absolute;
    width: 8%;
    bottom: 0;
    left: 0;
    border: 1px solid #d0d0d3;
}

/* -------------DA QUI IN POI SOLO ID------------- */

/* Header - topbar */

#topbar {
    width: 100%;
    height: 70px;
    padding: 0 15px;
}

#logo {
    display: inline-block;
    height: 100%;
}

#logo img {
    vertical-align: middle;
}

/* Header - Jumbotron */

#jumbotron {
    width: 100%;
    height: 700px;
    background-color: #b4d0e7;
    padding: 75px 150px;
}

#jumbotron h1 {
    font-size: 4em;
    width: 70%;
    text-align: left;
}

#down-arrow-container a {
    color: black;
}

/* Main - Opzioni di abbonamento - Professional, Standard, Advanced  */

#enterprise-billing {
    width: 100%;
}

#enterprise-billing-bottom {
    padding: 20px;
}

                /* Sezione Footer */

/* Footer - Selezione lingua */

#language-selection {
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
    color: white;
}

#language-selection .fa-sort-down {
    vertical-align: top;
}

#language-selection span {
    padding: 5px;
}

/* -------------SOLO REGOLE GENERALI------------- */

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.fl {
   float: left;
}

.fr {
    float: right;
}

.main-button {
    padding: 8px 15px;
    background-color: #2a61ff;
    font-size: 1em;
    color: white;
    border: none;
    transition: all 0.3s ease-in-out;
}

.main-button:hover {
    cursor: pointer;
    background-color: orange;
}

.centered-container {
    width: 60%;
    margin: 0 auto;
    padding: 180px 0 0;
}

    /* Spazio tra le singole sezioni */

main section:nth-of-type(1) .centered-container {
    padding-top: 250px;
}

main section:nth-of-type(2) .centered-container {
    padding-bottom: 0;
}

main section:nth-of-type(3) .centered-container {
    padding-top: 150px;
}

.absolutely-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

