* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* Sezione header - topbar */


nav {
    display: inline-block;
}

nav > ul {
    line-height: 70px;
}

nav > ul > li {
    display: inline-block;
    padding: 0 20px;
    vertical-align: middle;
}

nav li a {
    text-decoration: none;
    color: black;
}

nav ul li:nth-child(3) {
    padding-right: 820px;
}

nav ul li:nth-child(7) {
    padding-right: 0;
}

nav ul li:nth-child(7) a {
    padding: 5px 15px;
    color: white;
    background-color: rgb(69, 69, 235);
    transition: all 0.3s ease-in-out;
}

nav ul li:nth-child(7) a:hover {
    background-color: orange;
}


           /* Sezione principale  */

/* Sezione principale - JUMBOTRON */

.jumbtron-l-r-content {
    width: 100%;
}

.jumbotron-left {
    width: 40%;
}

.jumbotron-right {
    width: 60%;
}

.jumbotron-left {
    padding: 30px 180px 0 0;
}

.jumbotron-left .main-button {
    margin: 25px 0 10px;
} 

.jumbotron-left p:nth-of-type(2) {
    margin-bottom: 50px;
}

.jumbotron-right {
    margin-top: 30px;
}

.jumbotron-right img {
    width: 100%;
}

.fa-arrow-down {
    font-size: 2.5em;
}

/* Sezione principale - Abbonamenti */

.centered-container h2 {
    font-size: 2.2em;
    margin-bottom: 50px;
}

.centered-container label {
    padding-right: 20px;
}

.top-billing {
    height: 120px;
}

.billing-options {
    width: 100%;
    margin: 35px 0 25px;
}

.billing-option {
    border: 1px solid lightgrey;
}

.billing-option-text {
    padding: 30px 30px 0 30px;
}

.billing-option-text h3 {
    padding-bottom: 20px;
}

.billing-option-text > span:nth-of-type(1) {
    font-weight: 700;
    line-height: 30px;
}

.billing-option-text > span:nth-of-type(2) {
    color: rgb(180, 180, 180);
}

.billing-option-text ul:nth-of-type(1) {
    margin-top: 25px;
}

.billing-option-text ul:nth-of-type(2) {
    margin: 60px 0 200px 0;
}

.billing-option-text ul:nth-of-type(2)  li:nth-of-type(1){
    font-weight: 700;
}

.billing-option-text ul li {
    list-style-type: none;
    padding: 10px 0;
    width: 100%;
}

.billing-option-text ul li > span {
    width: 95%;
    padding-left: 5px;
}

.billing-option-text .main-button {
    width: 100%;
    margin: 20px 0;
}

.gray-line {
    position: relative;
}

.gray-line::after {
    content: '';
    display: block;
    position: absolute;
    width: 20%;
    top: 50px;
    border: 1px solid rgb(204, 193, 193);
}

.billing-options .billing-option:nth-child(1) {
    width: calc(33.3% - 25px);
}

.billing-options .billing-option:nth-child(2) {
    width: 33.3%;
    margin: 0 25px;
}

.billing-options .billing-option:nth-child(3) {
    width: calc(33.3% - 25px);
}

.billing-option .billing-icon {
    text-align: center;
    border-bottom: 1px solid lightgrey;
    padding: 10px;
}

    /* Ultima opzione di abbonamento - ENTERPRISE */

.enterprise-left h3 {
    padding: 10px 0 10px 0;
}

.enterprise-left p {
    padding: 20px 0;
}

.enterprise-left span {
    font-weight: 600;
}

/* Sezione principale - Partner */

.partner-section .fl,
.partner-section .fr {
    width: 50%;
}

.partner-section .fl > img {
    width: 100%;
}

.partner-section .fr {
    padding: 35px 60px;
}

.partner-section .fr h3 {
    font-size: 1.5em;
}

.partner-section .fr p {
    padding: 25px 0;
}

.partner-section .fr button {
    background-color: white;
    color: black;
    border: 1px solid black;
    transition: all 0.3s ease-in-out;
}

.partner-section .fr button:hover {
    color: white;
    background-color: rgb(69, 69, 235);
    border: 1px solid rgb(69, 69, 235);
}

/* Sezione principale - Operazioni Dropbox Business */

.operations {
    width: 100%;
}

.operation {
    width: 33.3%;
}

.operation-image-container {
    width: 100%;
}

.operation-image-container img {
    width: 80%;
}

.operation-text {
    padding: 10px 10px 50px;
}

.operation h3 {
    font-size: 1.2em;
}

/* Sezione principale - TEAMS */

.teams-top {
    width: 40%;
}

.teams-top h1 {
    font-size: 2em;
}

.teams-top p {
    padding: 30px 0 50px 0;
}

/* Struttura sezione e quadratone a sinistra */

.teams-100vw-container {
    width: 100vw;
    height: 1000px;
    background-color: lightskyblue;
    position: relative;
}

.teams-100vw-container .big-square{
    width: 33.3%;
    height: 600px;
}

.teams-image-square {
    width: 50%;
    height: 300px;
    position: relative;
}

.teams-image-square > img {
    width: 50%;
}

.teams-image-square.left:nth-of-type(1) {
    background-color: limegreen;
}

.teams-image-square.left:nth-of-type(2) {
    background-color: maroon;
}

.teams-image-square.left:nth-of-type(3) {
    background-color:mediumturquoise;
}

.teams-image-square.left:nth-of-type(4) {
    background-color:orange;
}

/* Quadratone centrale */

.centered {
    background-color: lightgrey;
}

.centered .centered-content {
    padding: 30px;
    height: 100%;
    position: relative;
}

.centered .centered-content img {
    width: 30%;
    padding-bottom: 80px;
}

.centered .centered-content p::before {
    content: '';
    display: block;
    position: absolute;
    width: 10%;
    top: 125px;
    border: 1px solid rgb(204, 193, 193);
}

.centered .centered-content p {
    padding-bottom: 50px;
}

/* Quadratone a destra */

.teams-image-square.right:nth-of-type(1) {
    background-color: red;
}

.teams-image-square.right:nth-of-type(2) {
    background-color: lightskyblue;
}

.teams-image-square.right:nth-of-type(3) {
    background-color:blue;
}

.teams-image-square.right:nth-of-type(4) {
    background-color:yellow;
}


/* Sezione teams bottom */

.teams-bottom div {
    height: 100%;
}

.teams-bottom.centered-container {
    padding-top: 800px;
    height: 100%;
}

.teams-bottom.centered-container h1 {
    font-size: 2em;
    color: maroon;
}

.teams-bottom-left {
    width: 30%;
}


/* Sezione Q&A */

.q-a {
    width: 100%;
    height: 80px;
    border-bottom: 2px solid lightgray;
    position: relative;
}

.q-a h3 {
    padding-bottom: 50px;
    font-size: 1.5em;
}

.q-a h4 {
    padding: 30px 30px 0 0;
}

.q-a .fas.fa-angle-down {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 1.5em;
}

/* Sezione Footer */

.footer-content-container {
    width: 100vw;
    height: 600px;
    background-color: black;
    margin-top: 200px;
    padding: 100px 100px 0;
}

.footer-all-list-container {
    width: 90%;
    margin: 0 auto;
    height: 75%;
    position: relative;
}

.footer-single-list-container {
    width: 20%;
}

.footer-single-list-container ul {
    padding: 50px;
}

.footer-single-list-container ul:first-child {
    padding-left: 0;
}

.footer-single-list-container ul li {
    padding: 5px;
    list-style-type: none;
}

.footer-single-list-container ul li > a {
    color: white;
    text-decoration: none;
}

.footer-single-list-container ul li:first-child {
    padding-bottom: 15px;
    font-size: 1.1em;
    font-weight: 600;
    color: white;
}

.footer-all-list-container::after {
    content: '';
    display: block;
    position: absolute;
    width: 8%;
    bottom: 0;
    left: 0;
    border: 1px solid rgb(204, 193, 193);
}

/* -------------DA QUI IN POI SOLO ID------------- */


/* Sezione header - topbar  */

#topbar {
    width: 100%;
    height: 70px;
    padding: 0 15px;
}

#logo {
    display: inline-block;
    height: 100%;
}

#logo img {
    vertical-align: middle;
}

/* Sezione JUMBOTRON */

#jumbotron {
    width: 100%;
    height: 600px;
    background-color: rgb(135, 201, 221);
    padding: 50px 150px;
}

#jumbotron h1 {
    font-size: 3em;
    text-align: left;
}

/* Sezione principale - Abbonamenti */

#enterprise-billing {
    width: 100%;
}

#enterprise-billing-bottom {
    padding: 20px;
}

/* Sezione principale - Operazioni Dropbox Business */ 


/* Sezione principale - TEAMS */


/* Sezione Q&A */


/* Sezione Footer */


/* Sezione footer - selezione lingua */

#language-selection {
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
    color: white;
}

#language-selection .fa-sort-down {
    vertical-align: top;
}

#language-selection span {
    padding: 5px;
}

/* -------------SOLO REGOLE GENERALI------------- */

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.fl {
   float: left;
}

.fr {
    float: right;
}

.main-button {
    padding: 8px 15px;
    background-color: rgb(69, 69, 235);
    font-size: 1em;
    color: white;
    border: none;
    transition: all 0.3s ease-in-out;
}

.main-button:hover {
    cursor: pointer;
    background-color: orange;
}

.centered-container {
    width: 70%;
    margin: 0 auto;
    padding: 200px 0 0;
}

.absolutely-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

